<!DOCTYPE html>
<html
        xmlns:layout="http://www.w3.org/1999/xhtml"
        layout:decorate="~{dish/layouts/main_layout.html}"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymleaf-extras-springsecurity5"
        lang="pl">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Dania | MVC Restaurant</title>

</head>
<body>

<!------------------------------------DANIA WSZYSTKIE--------------------------------------------->
<div layout:fragment="content">
    <div align="center">
        <h1 class="display-2">Lista dań</h1>
        <h3><a class="nav-link" href="/suggested">Polecane</a></h3>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a class="btn btn-success" href="/new_food"> Nowe jedzenie </a>
            <a class="btn btn-primary" href="/new_drink"> Nowy napój </a>
        </div>

        <br/><br/>
        <div/>


        <table class="table table-hover ">
            <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Cena</th>

                <th sec:authorize="hasRole('ROLE_ADMIN')">Akcja:</th>


            </tr>
            </thead>
            <tbody class="thead-light">


            <tr th:each="dish : ${listDishes}">
                <td th:text="${dish.id}">Id</td>
                <td th:text="${dish.name} ">Nazwa</td>
                <td th:text="${dish.price} + zł">Cena</td>


                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="@{'/edit/' + ${dish.id}}">Edytuj</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${dish.id}}">Usuń</a>
                </td>
            </tr>
            </tbody>
        </table>


    </div>
</div>
</body>
</html>